@import 'https://foonts.googleapis.com/css?family=0swald:400,700';
body{
  margin: 0px;
}
header{
  background:#0b233e;
  color: white;
  padding: 10px 0px 6px 40px;
  height: 140px;
}

header h1{
  display: inline;
  font-family: 'Oswald',sans-serif;
  font-weight: 400;
  font-size: 18px;
  color: #a6c8ef;
  float:right;
  margin-top: 8px;
  margin-right: 10px;
  padding: 40px 0px 0px 0px;

}
header h2{
  display: inline;
  float: left;
  padding: 10px 0px 0px 0px;
  margin-top: 20px;
  margin-left:
}
header h3{
  display:inline;
  float: right;
  padding-right: 20px;
  padding-top: 10px;
}
nav ul{
  display: inline;
  background-color: black;
  height: 30px;
  width: 100%;
  margin-top: 0px;
  padding: 25px 0px 10px 0px;
  float: left;
}
nav ul li{
  display: inline-block;
  list-style-type: none;
  color: white;
  float : left;
  margin-left: 50px;
  margin-top: 0PX;
}

nav ul li a {
  color: white ;
  text-decoration:none;
}

#nav{
  font-family: 'Montserrat', sans-serif ;
}

.homered{
  background-color:red ;
  padding:10px 10px 10px 10px;
}
.divider{
  background-color: red;
  height: 5px;
}
.homeblack:hover {
  background-color: blue;
  padding: 10px 10px 10px 10px;
}
.image {
   position: relative;
   width: 100%;
   background-size: cover;
}

h4 {
  position: absolute;
  font-size: 25px;
  color: #a6c8ef;
   top: 150px;
   left: 600px;
   right: 0;
}
b{
  color: white;
  font-size: 28px;
}
